.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
**/*.iml
.gradle/
local.properties
/android/key.properties
/android/app/src/main/res/drawable-mdpi/ic_launcher.png
/android/app/src/main/res/drawable-hdpi/ic_launcher.png
/android/app/src/main/res/drawable-xhdpi/ic_launcher.png
/android/app/src/main/res/drawable-xxhdpi/ic_launcher.png
/android/app/src/main/res/drawable-xxxhdpi/ic_launcher.png

# iOS
*.mode1v3
*.mode2v3
*.perspectivev3
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/App.framework
/ios/Flutter/App.podspec
/ios/Flutter/App.framework.zip
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Flutter.framework.zip

# Web
/build/web

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
.DS_Store
